<%= form_with(model: @provider, url: providers_path, method: :post) do |form| %>
  <!-- Campos del proveedor -->
  <label for="name"><%= t('providers.form.name') %>:</label>
  <%= form.text_field :name, required: true %>

  <label for="nit"><%= t('providers.form.nit') %>:</label>
  <%= form.text_field :nit, required: true %>
  <%= form.error_message_on(:nit, message: t('providers.errors.nit')) %>

  <label for="contact_name"><%= t('providers.form.contact_name') %>:</label>
  <%= form.text_field :contact_name, required: true %>

  <label for="contact_phone"><%= t('providers.form.contact_phone') %>:</label>
  <%= form.text_field :contact_phone, maxlength: 10 %>
  <!-- Se establece una longitud máxima de 10 caracteres -->

  <!-- Campos de la cuenta bancaria -->
  <label for="bank_name"><%= t('providers.form.bank_name') %>:</label>
  <%= form.fields_for :bank_account do |bank_fields| %>
    <%= bank_fields.text_field :bank_name, required: true %>
  <% end %>

  <label for="account_number"><%= t('providers.form.account_number') %>:</label>
  <%= form.fields_for :bank_account do |bank_fields| %>
    <%= bank_fields.text_field :account_number, maxlength: 15 %>
    <!-- Se establece una longitud máxima de 15 caracteres -->
  <% end %>

  <!-- Combobox para seleccionar el banco -->
  <label for="existing_banks"><%= t('providers.form.existing_banks') %>:</label>
  <%= form.collection_select :bank_id, Bank.all, :id, :name, include_blank: true %>
  <!-- La opción include_blank permite una opción vacía en el combobox -->

  <%= form.submit t('providers.form.submit') %>
<% end %>
