<tr>
  <td><%= link_to provider.name, provider_path(provider) %></td>
  <td><%= render_cell(:provider, :contact_name, provider) || t('common.no_information') %></td>
  <td><%= render_cell(:provider, :contact_phone, provider) || t('common.no_information') %></td>
  <td><%= render_cell(:bank_account, :bank_name, provider.bank_account) || t('common.no_information') %></td>
  <td><%= render_cell(:bank_account, :account_number, provider.bank_account) || t('common.no_information') %></td>
  <td>
    <%= link_to t('common.view'), provider_path(provider), class: 'btn btn-info' %>
    <%= link_to t('common.edit'), edit_provider_path(provider), class: 'btn btn-warning' %>
    <%= link_to t('common.delete'), provider_path(provider), turbo_method: :delete, data: { turbo_confirm: t('common.confirm') }, class: 'btn btn-danger' %>
  </td>
</tr>
