<h1><%= t('providers.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('providers.index.name') %></th>
      <th><%= t('providers.index.contact_name') %></th>
      <th><%= t('providers.index.contact_phone') %></th>
      <th><%= t('providers.index.bank_name') %></th>
      <th><%= t('providers.index.account_number') %></th>
      <th><%= t('common.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @providers.any? %>
      <%= render partial: 'provider_row', collection: @providers %>
    <% else %>
      <tr>
        <td colspan="6"><%= t('common.no_providers') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @providers %>
<%= link_to t('providers.index.new_provider'), new_provider_path %>
