<h1><%= @provider.name %></h1>

<p><strong>Contacto:</strong> <%= @provider.contact_name %></p>
<p><strong>Teléfono de contacto:</strong> <%= @provider.contact_phone.presence || t('common.no_information') %></p>
<p><strong>Banco:</strong> <%= @provider.bank.name %></p>
<p><strong>Número de cuenta bancaria:</strong> <%= @provider.bank_account_number.presence || t('common.no_information') %></p>

<p>
  <%= link_to t('common.edit'), edit_provider_path(@provider) %>
  <%= link_to t('common.destroy'), @provider, turbo_method: :delete, data: { turbo_confirm: t('common.confirm') } %>
  
  <%= link_to t('common.index_btn'), providers_path %>
</p>
