<div class="container mt-4">
  <% if @banks.any? %>
    <!-- Lógica para cuando hay bancos -->
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <h1><%= t('.title') %></h1>
    <ul class="list-group">
      <%= render partial: "bank", collection: @banks %>
    </ul>
  <% else %>
    <!-- Lógica para cuando no hay bancos -->
    <div class="alert alert-info" role="alert">
      <p><%= t('.no_banks') %></p>
    </div>
  <% end %>

  <%= link_to t('.add_bank'), new_bank_path, class: 'btn btn-primary mt-3' %>
  
</div>


