<h1><%= @bank.name %></h1>

<p><strong>ID:</strong> <%= @bank.id %></p>

<p>
  <%= link_to t('common.edit'), edit_bank_path(@bank) %>
  <%= link_to t('common.destroy'), bank_path(@bank), data: {
    turbo_method: :delete,
    turbo_confirm: t('common.confirm')
  } %>
</p>

<%= link_to t('common.index_btn'), banks_path %>