<h1><%= @bank.name %></h1>

<p><strong>ID:</strong> <%= @bank.id %></p>

<p>
  <%= link_to 'Editar', edit_bank_path(@bank) %>
  <%= link_to 'Eliminar', @bank, method: :delete, data: { confirm: '¿Estás seguro?' } %>
</p>

<%= link_to 'Volver al Listado', banks_path %>